{
  "openapi": "3.0.0",
  "info": {
    "title": "MPC Client API",
    "version": "1.0.0",
    "description": "API for managing MPC shares, signing transactions, backup, and recovery."
  },
  "servers": [
    {
      "url": "https://mpc-client.portalhq.io"
    }
  ],
  "paths": {
    "/generate": {
      "post": {
        "summary": "Generate MPC Share",
        "operationId": "generateMpcShare",
        "tags": [
          "Generate"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadataStr": {
                    "type": "string",
                    "example": "{\"clientPlatform\":\"CLI\",\"mpcServerVersion\":\"v5\",\"optimized\":true,\"performanceId\":\"\"}"
                  }
                },
                "required": [
                  "metadataStr"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with dkgResult and address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "dkgResult": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "prefix": {
                          "type": "string"
                        },
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sign": {
      "post": {
        "summary": "Sign a transaction or message",
        "operationId": "signTransaction",
        "tags": [
          "Sign"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadataStr": {
                    "type": "string"
                  },
                  "method": {
                    "type": "string"
                  },
                  "params": {
                    "type": "object"
                  },
                  "rpcUrl": {
                    "type": "string"
                  },
                  "chainId": {
                    "type": "string"
                  },
                  "dkgResult": {
                    "type": "string"
                  }
                },
                "required": [
                  "metadataStr",
                  "method",
                  "params",
                  "rpcUrl",
                  "chainId",
                  "dkgResult"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful signing operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "prefix": {
                          "type": "string"
                        },
                        "error": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/backup": {
      "post": {
        "summary": "Create Backup Share",
        "operationId": "createBackupShare",
        "tags": [
          "Backup"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Create a backup share",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Backup created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recover/signing": {
      "post": {
        "summary": "Recover account using signing",
        "operationId": "recoverSigning",
        "tags": [
          "Recover"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Request body for recovering signing",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecoverRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully recovered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecoverResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "BackupRequest": {
        "type": "object",
        "properties": {
          "metadataStr": {
            "type": "string"
          },
          "dkgResult": {
            "type": "string"
          }
        },
        "required": [
          "metadataStr",
          "dkgResult"
        ]
      },
      "BackupResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "dkgResult": {
                "type": "string"
              },
              "address": {
                "type": "string"
              }
            }
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "prefix": {
                "type": "string"
              },
              "error": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "RecoverRequest": {
        "type": "object",
        "properties": {
          "metadataStr": {
            "type": "string"
          },
          "dkgResult": {
            "type": "string"
          }
        },
        "required": [
          "metadataStr",
          "dkgResult"
        ]
      },
      "RecoverResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "dkgResult": {
                "type": "string"
              },
              "address": {
                "type": "string"
              }
            }
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "prefix": {
                "type": "string"
              },
              "error": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}